<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.irrigationapp">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IrrigationApp"
        tools:targetApi="31">

        <!-- Écran de démarrage avec logo -->
        <activity
            android:name=".views.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.IrrigationApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Page de connexion -->
        <activity android:name=".views.LoginActivity" />

        <!-- Page "Mot de passe oublié" -->
        <activity android:name=".views.ForgotPasswordActivity" />

        <!-- Page "Mot de passe Change" -->
        <activity android:name=".views.ResetPasswordActivity" />

        <!-- Page "Gestion de Profil" -->
        <activity android:name=".views.ProfileManagementActivity" />

        <!-- Page d'accueil après connexion -->
        <activity android:name=".views.HomeActivity" />
        <!-- Pages de arrosage -->
        <activity android:name=".views.ArrosageManuelleActivity" />
        <activity android:name=".views.ArrosageAutomatiqueActivity" />


        <!-- Autres pages appelées depuis HomeActivity -->
        <activity android:name=".views.NotificationActivity" />
        <activity android:name=".views.SettingsActivity" />
        <activity android:name=".views.ArrosageControlActivity" />
        <activity android:name=".views.StatistiquesActivity" />

    </application>

</manifest>
